<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="col-xs-12">
        <div class="form-group">
            <button type="submit" [disabled]="myForm.invalid"  class="btn btn-success">Save</button>
            <button type="button" (click)="onCancel()" class="btn btn-danger">Cancel</button>
        </div>
    </div>

    <div class="col-xs-12">

        <div class="form-group">
          <label for="Name">Name</label>
          <input 
            type="text" 
            class="form-control"
            formControlName="name" />
        </div>
        <div class="form-group">
          <label for="imgPath">Image Path</label>
          <input 
            type="text" 
            class="form-control"
            formControlName="imagePath"
            #imgPath />
        </div>
        <div class="row">
          <img [src]="imgPath.value" style="max-width:450px">
        </div>
        <div class="form-group">
          <label for="desc">Desctiption</label>
          <textarea 
            class="form-control"
            formControlName="description"  cols="10" rows="10"></textarea>
        </div>

        <button type="button" (click)="onAddIngredients()" class="btn btn-primary">Add Ingredient</button>
        <br>
        <div  formArrayName = "ingredients">
          <div class="row" [formGroupName]="i" 
              *ngFor="let ingred of myForm.get('ingredients').controls;let i =index;"
              style="margin-top:10px">
                  <div class="col-xs-8">
                      <input type="text" class="form-control"  formControlName="name"/>
                  </div>
                  <div class="col-xs-3">
                      <input  type="number"  class="form-control" formControlName="amount" />
                  </div>
                  <div class="col-xs-1">
                      <button  type="button"  class="btn btn-danger">X</button>
                  </div>
          </div>
        </div>
        <br>
    </div>
</form>